.container {
  height: 340px;
}

.container,
.container div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  button {
    font-size: 16px;
  }
}

.container div {
  height: 90%;
  > p {
    padding: 10px;
    border: 2px solid var(--background);
    transition: 0.2s;
    span {
      margin-right: 5px;
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
      color: rgb(108, 94, 83);
      background-color: rgb(225, 216, 201);
      animation: gelatine 0.5s infinite;
    }
  }
}

.sup {
  margin-top: 60px;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
