.title {
  font-size: 55px;
  line-height: 60px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 25px;
}

.container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.textWrapper {
  text-transform: none;
  color: var(--text-dark);
  width: 50vw;
  height: auto;
  background-color: var(--back-light);
  backdrop-filter: blur(0.65em);
  padding: 30px;
}

.textBtns {
  margin-top: 5vh;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.btn {
  font-size: 16px;
  width: 270px;
  padding: 10px;
  border: 2px solid var(--background);
  a:hover::after {
    width: 0;
  }
  &:hover {
    background-color: rgba(108, 94, 83, 0.7);
    backdrop-filter: blur(0.65em);
  }
}

@media (max-width: 1220px) {
  .textWrapper {
    width: 70vw;
  }
}

@media (max-width: 660px) {
  .textWrapper {
    width: 100vw;
  }
}
