.container {
  width: 100vw;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  text-wrap: nowrap;

  section {
    width: 400px;
    color: var(--text-dark);
    background-image: var(--backg-img);
    border-radius: 45px;
    padding: 50px 101px;
  }
  &:nth-child(2) {
    max-height: 440px;
  }
}

.ingredients {
  .ingredient:hover {
    cursor: pointer;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  button {
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: var(--text-light);
    background-color: var(--background);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    padding: 6px;
    &.active {
      padding: 8px;
      transform: rotate(-360deg);
    }
  }
}

.active {
  color: rgb(106, 170, 9);
}

@media (max-width: 800px) {
  .container {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.recipe {
  max-height: 440px;
}

.arrowBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

// .ingredient {
//   opacity: 0;
//   transform: translateY(-20px);
//   transition: opacity 0.5s ease-out, transform 0.5s ease-out;
// }
// .ingredient.show {
//   opacity: 1;
//   transform: translateY(0);
// }
