.container {
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  section {
    color: var(--text-dark);
    width: 450px;
    height: 100%;
    display: flex;
    row-gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--back-light);
    backdrop-filter: blur(0.65em);

    border-radius: 45px;
    text-align: center;
  }
}

.recepie {
  max-height: 440px;
  overflow: hidden;
}

.arrowBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.questionWrapper {
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  button {
    font-size: 16px;
    width: 270px;
    padding: 10px;
    border: 2px solid var(--background);
    &:hover {
      cursor: pointer;
      // color: rgb(108, 94, 83);
      background-color: rgba(108, 94, 83, 0.5);
      animation: gelatine 0.5s infinite;
    }
  }
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
