.container {
  height: 10vh;
  width: 100vw;
  background-color: rgba(236, 231, 223, 0.5);
  backdrop-filter: blur(0.6em);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    display: flex;
    flex-direction: row;
    &:hover {
      cursor: pointer;
    }
    img {
      margin-top: -4px;
    }
  }
}
